@model CallCenterExtension.Models.JOInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Styles/table.css" />
    <title>Sample Table</title>
    <script src="~/Scripts/Login/InputTable.js"></script>
    <script src="~/Scripts/JOinfo/JOInfo.js"></script>
</head>
<body>
    <div id="container">
        <div id="table">
            <div class="form-group">
                <label class="form-group label">HS Staff:</label>
                <input type="text" name="HsStaff" id="HsStaff" placeholder="HS Staff" />
            </div>
            <div class="form-group">
                <label class="form-group label">HS Sched:</label>
                <input type=datetime-local name="HsSched" id="HsSched" placeholder="mm/dd/yyyy" />
            </div>
            <div class="tablescroll">
                <table border="1">
                    <thead>
                        <tr>
                            <th>J.O Date</th>
                            <th>Medtech/Phlebo Name</th>
                            <th>Patient Name</th>
                            <th>J.O Number</th>
                            <th>Tray Number</th>
                            <th>Time start of checking</th>
                            <th>Time end of checking</th>
                            <th>Name of Checker</th>
                            <th># of supplies received</th>
                        </tr>
                    </thead>
                    <tbody id="JOInfo" class="JOInfo">
                        @foreach (var item in ViewBag.Display)
                        {
                        <tr>
                            <td>@item.JODate</td>
                            <td>@item.MedName</td>
                            <td>@item.PName</td>
                            <td>@item.JONum</td>
                            <td>@item.TrayNum</td>
                            <td>@item.SChecking</td>
                            <td>@item.EChecking</td>
                            <td>@item.ChkName</td>
                            <td>@item.NoSupRec</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
            <br />
                <div class="form-group">
                    <label class="form-group label">JO #:</label>
                    <input type="text" id="JO1" placeholder="Job Order #" />
                </div>
                <div class="form-group">
                    <label class="form-group label">Tray #:</label>
                    <input type=text id="Tray" placeholder="Number of tray" disabled />
                </div>
                <div class="form-group">
                    <label class="form-group label">Name of Checker:</label>
                    <input type=text id="Checker" placeholder="Name of checker" disabled />
                </div>
                <div class="form-group">
                    <label class="form-group label"># of supplies received:</label>
                    <input type=text id="NoSupRec" placeholder="# of supplies received" disabled />
                </div>
                <div class="form-group">
                    <label class="form-group label">Time Start of checking:</label>
                    <input type=text id="StartChecking" placeholder="Time-start of checking" disabled />
                </div>
                <div class="form-group">
                    <label class="form-group label">Time End of checking:  </label>
                    <input type=text id="EndChecking" placeholder="Time-end of checking" disabled />
                </div>
                <div id="JOButton">
                    @if (ViewBag.UserRole == "Encoder")
                    {
                        <input type="submit" id="JO-Save" value="SAVE" />
                    }
                    @if (ViewBag.UserRole == "LabManager")
                    {
                        <input type="submit" id="JO-Confirm" value="CONFIRM" />
                    }
                </div>
            </div>
        </div>

</body>
</html>

